<header>
    <div id="logo">
        <a href="/"><img src="img/world.jpg" alt="logo" height="70" width="100"></a>
    </div>
    <div id="page-title">
        <h3>
            <%= typeof variant != 'undefined' ? variant : 'default' %>
        </h3>
    </div>
</header>