<nav>
    <ul>
        <li><a href="raumliste">Raumliste</a></li>
        <li><a href="raumdetails">Roumdetails</a> </li>
        <li><a href="buchungsdetails">Buchungsdetails</a></li>
        <li><a href="seminaranlegen">Alengen eines Seminars</a></li>
    </ul>
</nav>