<!-- 

  Datei wurde von: xxxxxxxxxxxxxxxxx fertig gestelt!
 -->

<!DOCTYPE html>
<html lang="de">

<head>
    <title> FormStudy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../public/css/style.css" rel="stylesheet">
    <link href="../public/css/formstudy.css" rel="stylesheet">
</head>

<body>
    <header>
        <div id="logo"><a href="dashboard.html">U2M</a> </div>
        <nav>
            <ul class="menu">
                <li>Student
                    <ul class="sub-menu">
                        <li><a href="FormStudy.html">Formular Für Study Helfer</a></li>
                        <li><a href="ListeStudy.html">Liste der Study Helfer</a></li>
                        <li><a href="DetailsStudy.html">Information über Study Helfer</a></li>
                    </ul>
                </li>
                <li>Gruppe
                    <ul class="sub-menu">
                        <li><a href="FormStudy.html">Formular Für Study Helfer</a></li>
                        <li><a href="ListeStudy.html">Liste der Study Helfer</a></li>
                        <li><a href="DetailsStudy.html">Information über Study Helfer</a></li>
                    </ul>
                </li>
                <li>Bibliothek
                    <ul class="sub-menu">
                        <li><a href="FormStudy.html">Formular Für Study Helfer</a></li>
                        <li><a href="ListeStudy.html">Liste der Study Helfer</a></li>
                        <li><a href="DetailsStudy.html">Information über Study Helfer</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="page-title">
            <h3> Dashboard</h3>
        </div>
    </header>
    <main>
        <p>
            =Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, minima reiciendis ad velit iusto, at soluta nobis perferendis, in atque quo totam iure rerum repellendus alias. Ut dolore animi iusto!
        </p>
    </main>
    <footer>
        <p>&copy; By Teitang & Fofack & Djifack</p>
        <p>click on the following link to read our documentation:</p>
        <ul>
            <li><a href="../../doc/documentation.html">documentation</a></li>
        </ul>

    </footer>
</body>

</html>