<!DOCTYPE html>
<html lang="de">

<head>
    <title> Information über Study Helfer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../public/css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <div id="logo"><a href="dashboard.html">U2M</a> </div>
        <nav>
            <ul class="menu">
                <li>Student
                    <ul class="sub-menu">
                        <li><a href="FormStudy.html">Formular Für Study Helfer</a></li>
                        <li><a href="ListeStudy.html">Liste der Study Helfer</a></li>
                        <li><a href="DetailsStudy.html">Information über Study Helfer</a></li>
                    </ul>
                </li>
                <li>Gruppe
                    <ul class="sub-menu">
                        <li><a href="FormStudy.html">Formular Für Study Helfer</a></li>
                        <li><a href="ListeStudy.html">Liste der Study Helfer</a></li>
                        <li><a href="DetailsStudy.html">Information über Study Helfer</a></li>
                    </ul>
                </li>
                <li>Bibliothek
                    <ul class="sub-menu">
                        <li><a href="FormStudy.html">Formular Für Study Helfer</a></li>
                        <li><a href="ListeStudy.html">Liste der Study Helfer</a></li>
                        <li><a href="DetailsStudy.html">Information über Study Helfer</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="page-title">
            <h3> Information über Study Helfer</h3>
        </div>
    </header>
    <main>
        <p>
            =Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam ratione consequuntur a at soluta nemo quaerat labore architecto totam, officia culpa quibusdam ipsa tempora, deserunt esse rem sint repellat explicabo.
        </p>
    </main>
    <footer>
        <p>&copy; By Teitang & Fofack & Djifack</p>
        <p>click on the following link to read our documentation:</p>
        <ul>
            <li><a href="../../doc/documentation.html">documentation</a></li>
        </ul>
    </footer>
</body>

</html>