<!-- 

  Datei wurde von: xxxxxxxxxxxxxxxxx fertig gestelt!
 -->

<!DOCTYPE html>
<html lang="de">

<head>
    <title> FormStudy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../public/css/style.css" rel="stylesheet">
    <link href="../public/css/formstudy.css" rel="stylesheet">
</head>

<body>
    <header>
        <div id="logo"><a href="dashboard.html">U2M</a> </div>
        <nav>
            <ul class="menu">
                <li><a href="">StudyForm</a>
                    <ul class="sub-menu">
                        <li><a href="FormStudy.html">Formular Für Study Helfer</a></li>
                        <li><a href="ListeStudy.html">Liste der Study Helfer</a></li>
                        <li><a href="DetailsStudy.html">Information über Study Helfer</a></li>
                    </ul>
                </li>
                <li><a href="">Gruppe</a>
                    <ul class="sub-menu">
                        <li><a href="FormStudy.html">Formular Für Study Helfer</a></li>
                        <li><a href="ListeStudy.html">Liste der Study Helfer</a></li>
                        <li><a href="DetailsStudy.html">Information über Study Helfer</a></li>
                    </ul>
                </li>
                <li><a href="">Bibliothek</a>
                    <ul class="sub-menu">
                        <li><a href="FormStudy.html">Formular Für Study Helfer</a></li>
                        <li><a href="ListeStudy.html">Liste der Study Helfer</a></li>
                        <li><a href="DetailsStudy.html">Information über Study Helfer</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="page-title">
            <h3> Formular Für Study Helfer</h3>
        </div>
    </header>
    <main>
        <div class="formstudy">
            <form action="ListeStudy.html" method="POST">
                <fieldset class="first">
                    <legend> Form</legend>
                    <fieldset>
                        <legend></legend>
                        <label for="name">Name</label>
                        <input type="text" id="name" required>
                        <br>
                        <label for="vorname">Vorname</label>
                        <input type="text" id="vorname" required>
                    </fieldset>

                    <fieldset class="second">
                        <legend></legend>
                        <label for="schule">Hochschule/Universität</label>
                        <select id="schule">
                              <option value="Bitte-waehlen">Bitte auswaehlen</option>
                              <option value="FH-Dortmund">FH-Dortmund</option>
                            <option value="TU-Dortmund">TU-Dortmund</option>
                          </select>
                        <br>
                        <label for="fach">Fachbereich</label>
                        <input type="text" id="fach" required>
                        <br>
                        <label for="studiengang">Studiengang</label>
                        <input type="text" id="studiengang" required>
                        <br>
                        <label for="aktsemester">Aktuelles Semester</label>
                        <select id="aktsemester">
                            <option value="Bitte-waehlen">Bitte auswaehlen</option>
                            <option value="1.Sem">1.Sem</option>
                          <option value="2.Sem">2.Sem</option>
                          <option value="3.Sem">3.Sem</option>
                          <option value="4.Sem">4.Sem</option>
                          <option value="5.Sem">5.Sem</option>
                          <option value="6.Sem">6.Sem</option>
                          <option value="7.Sem">7.Sem</option>
                          <option value="über">über</option>
                        </select>
                    </fieldset>

                    <fieldset class="third">
                        <legend></legend>
                        <label for="module">Module</label>
                        <input type="text" id="module" required>
                        <br>
                        <label for="note">Note</label>
                        <input type="text" id="note">
                        <br>
                        <label for="semester">Semester (Abgelegt)</label>
                        <select id="semester">
                        <option value="Bitte-waehlen">Bitte auswaehlen</option>
                       <option value="1.Sem">1.Sem</option>
                      <option value="2.Sem">2.Sem</option>
                       <option value="3.Sem">3.Sem</option>
                      <option value="4.Sem">4.Sem</option>
                      <option value="5.Sem">5.Sem</option>
                       <option value="6.Sem">6.Sem</option>
                  </select>
                        <br>
                        <label for="literatur">Literaturverzeichnis</label>
                        <input type="text" id="literatur">
                    </fieldset>
                    <input id="sendform" type="button" value="anlegen" onclick="btnAction()">
                    <!-- <button type="button" onclick=saveData()> Anlegen</button> -->
                </fieldset>
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; By Teitang & Fofack & Djifack</p>
        <p>click on the following link to read our documentation:</p>
        <ul>
            <li><a href="../../doc/documentation.html">documentation</a></li>
        </ul>

    </footer>
    <!-- <script src="../models/modFormStudy.js"></script> -->
</body>

</html>