<!DOCTYPE html>
<html lang="de">

<head>
    <title> FormStudy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../public/css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <div id="logo"><img src="../public/img/logo.jpg" alt=""></div>
        <div id="page-title">
            <h3> Liste der Study Helfer</h3>
        </div>

    </header>
    <nav>
        <ul>
            <li>StudyForm
                <ul>
                    <li><a href="FormStudy.html">Formular Für Study Helfer</a></li>
                    <li><a href="ListeStudy.html">Liste der Study Helfer</a></li>
                    <li><a href="DetailsStudy.html">Information über Study Helfer</a></li>
                </ul>
            </li>
            <li>Gruppe
                <ul>
                    <li>Formular</li>
                    <li>liste</li>
                    <li>Details</li>
                </ul>
            </li>
            <li>Bibliothek
                <ul>
                    <li>Formular</li>
                    <li>liste</li>
                    <li>Details</li>
                </ul>
            </li>
        </ul>
    </nav>
    <main>
        <p>=Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur tempore vero, sunt assumenda quaerat veniam esse dignissimos unde molestiae eius, est distinctio et vel error tempora dolorum reiciendis iste a?</p>
        <table>
            <thead>
                <tr>
                    <th> Name</th>
                    <th>Vorname</th>
                    <th>Fachbereich</th>
                    <th>Module</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer>
        &copy; By Teitang & Fofack & Djifack
    </footer>
</body>

</html>