<!-- 

  Datei wurde von: @michel Djifack fertig gestelt!
-->

<!DOCTYPE html>
<html lang="de">

<head>
    <title> Information über Study Helfer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/listStudy.css" rel="stylesheet">
</head>

<body>
    <header>
        <div id="logo"><a href="/">U2M</a> </div>
        <nav>
            <ul class="menu">
                <li>Student
                    <ul class="sub-menu">
                        <li><a href="FormStudy">Formular Für Study Helfer</a></li>
                        <li><a href="ListeStudy">Liste der Study Helfer</a></li>
                        <li><a href="DetailsStudy">Information über Study Helfer</a></li>
                    </ul>
                </li>
                <li>Gruppe
                    <ul class="sub-menu">
                        <li><a href="FormStudy">Formular Für Study Helfer</a></li>
                        <li><a href="ListeStudy">Liste der Study Helfer</a></li>
                        <li><a href="DetailsStudy">Information über Study Helfer</a></li>
                    </ul>
                </li>
                <li>Bibliothek
                    <ul class="sub-menu">
                        <li><a href="FormStudy">Formular Für Study Helfer</a></li>
                        <li><a href="ListeStudy">Liste der Study Helfer</a></li>
                        <li><a href="DetailsStudy">Information über Study Helfer</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="page-title">
            <h3>ERROR 404</h3>

        </div>
    </header>
    <main>
        <p>
            <strong>
              Sie haben eine falsche Url-Adresse eingegeben. <br> Die von Ihnen gesuchte Seite ist auf unserem Server nicht verfügbar.
            </strong>
        </p>
    </main>
    <footer>
        <p>&copy; By Teitang & Fofack & Djifack</p>
        <p>click on the following link to read our documentation:</p>
        <ul>
            <li><a href="/">documentation</a></li>
        </ul>
    </footer>
    <script src="../models/modFormStudy.js"></script>
</body>

</html>