<!-- 

  Datei wurde von: Michel Djifack fertig gestelt!
-->
<!DOCTYPE html>
<html lang="de">

<head>
    <title> Bibliothek-Details</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <%-include('header.ejs', {variant:'Bibliothek-Details'}); %>
        <main>

        </main>
        <%- include("footer.ejs") %>
</body>

</html>