<!-- 

  Datei wurde von: @daniele fofack fertig gestelt!
-->

<footer>
    <p>&copy; By Teitang & Fofack & Djifack</p>
    <p>click on the following link to read our documentation:</p>
    <ul>
        <li><a href="/">documentation</a></li>
    </ul>
</footer>