<!-- 

  Datei wurde von: @wilfried Teitang fertig gestelt!
-->
<header>
    <div id="logo"><a href="/">U2M</a> </div>
    <nav>
        <ul class="menu">
            <li>Student
                <ul class="sub-menu">
                    <li><a href="FormStudy">Formular Für Study Helfer</a></li>
                    <li><a href="ListeStudy">Liste der Study Helfer</a></li>
                    <li><a href="DetailsStudy">Information über Study Helfer</a></li>
                </ul>
            </li>
            <li>Gruppe
                <ul class="sub-menu">
                    <li><a href="FormGroup">Gruppe erstellen</a></li>
                    <li><a href="ListeGroup">Gruppe Listen</a></li>
                    <li><a href="DetailsGroup">Gruppe Details</a></li>
                </ul>
            </li>
            <li>Bibliothek
                <ul class="sub-menu">
                    <li><a href="BiblioForm">Formular-Bibliothek</a></li>
                    <li><a href="BiblioListe">Bibliothek-Liste</a></li>
                    <li><a href="BiblioDetails">Bibliothek-Details</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="page-title">
        <%= typeof variant != 'undefined' ? variant : 'default' %>
    </div>
</header>