/* *komplete Webseite Formatieren
* PK6
*/


/*Aufgabe 2*/


/*Zusatzinformationen und Navigationsmenue ausblenden*/

aside,
nav {
    display: none;
}

main div {
    width: 200px;
    height: 200px;
    background-color: darkorange;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

main div a {
    position: relative;
    top: 50%;
    text-align: center;
}


/*fussbereich festlegen*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/*ueberschrift der Webanwendung aendern*/

header h3 {
    color: tomato;
}


/*Webanwendung der Webseite stylen*/

#page-title {
    text-shadow: 8px 7px 2px black;
    letter-spacing: 0.5em;
    margin-left: 20px;
}

body {
    display: flex;
    flex-flow: column wrap;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

main {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

header,
main,
footer {
    border: 1px solid white;
    background-color: orange;
    padding: 1em;
    text-align: center;
}