/* rahmen hinzufuegen */

body {
    border: 2px solid black !important;
}


/* border nebeneinander haben im table*/

table {
    border-collapse: collapse !important;
}


/* border fuer table Row und Spalte */

th,
td {
    border: 1px solid gray !important;
    padding: 2px !important;
}


/* border thead bottom fett ausdruecken */

th {
    border-bottom: 3px solid gray !important;
}


/* liste stylen  

Quelle: [Untertitel automatisch numerieren mit hilfe von counter Eigenschaften (vgl. https://www.w3schools.com/cssref/pr_gen_counter-reset.asp)]

*/

ol {
    list-style-type: none !important;
    padding-left: 1.4em !important;
    counter-reset: Zaehler !important;
}

ol li {
    counter-increment: Zaehler !important;
}

ol li h4::before {
    content: counters(Zaehler, ".") ". " !important;
}