/* 
Datei wurde von:xxxxxxxxxxxxxxxxxxxxx fertig gestelt!
 */

.formstudy {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.textInput {
    padding: 0.5em;
}


/* button stylen */

.button {
    padding-top: 3em;
}