/* 
Datei wurde von:xxxxxxxxxxxxxxxxxxxxx fertig gestelt!
 */


/* Grid Template area definieren und Seite mit Grid Stylen */

body,
input {
    font-family: sans-serif;
}

header {
    grid-area: kopf;
    background-color: #2c3e50;
}

nav {
    grid-area: navi;
}

main {
    grid-area: main;
}

body {
    display: grid;
    grid-template-areas: "kopf " "navi" "main" "footer";
    color: #666;
}


/* footer stylen */

footer {
    grid-area: footer;
    background-color: #2c3e50;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

footer ul {
    text-decoration: none;
}

footer ul li a {
    color: white;
}

footer ul li a:hover {
    background-color: #f34949;
}


/* logo Stylen */

#logo a {
    float: left;
    color: white;
    margin-top: 40px;
    margin-left: 70px;
    font-style: italic;
    font-size: 50px;
}


/* Page Title Stylen */

#page-title {
    margin-top: 150px;
    margin-left: 450px;
    color: #FFA500;
}


/* Navigation Menu stylen */

nav {
    display: flex;
    float: right;
    margin: 50px;
    padding-right: 300px;
}


/* Schriftgröße definieren, Text In Gr0ßbuchstabe, remoove underline on list element,list Symbole (Punkte entfernen)  */

a {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

ul {
    list-style: none;
}


/* Menu stylen*/

nav ul li {
    color: #fff;
    margin: 15px;
    padding: 5px;
}

nav ul li:hover {
    color: #7FFF00;
}

nav ul {
    display: inline-flex;
}


/* unter-menu stylen*/

.sub-menu {
    display: none;
    padding: 5px;
}

.menu li:hover .sub-menu {
    display: block;
    position: absolute;
}

.sub-menu li {
    margin: 0;
}

.sub-menu li a {
    color: #FFA500;
}

.sub-menu li a:hover {
    color: #7FFF00;
    border: 1px solid #fff;
    border-radius: 5px;
}