/* 
Datei wurde von:xxxxxxxxxxxxxxxxxxxxx fertig gestelt!
 */

.formstudy {
    padding: 50px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.textInput {
    padding: 0.5em;
}


/* button stylen */

.button {
    padding-top: 3em;
}

#sendform:hover {
    background-color: #ADFF2F;
}


/* required hervorheben */

.req::after {
    content: '*';
    color: #CD5C5C;
}


/* Invalid und valid Input */

input:invalid:hover {
    border: 1px solid red;
}