/* 
Datei wurde von:Daniele Fofack fertig gestelt!
 */

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10em;
}


/* Tabelle in center */

table {
    margin: 1em;
    padding: 0.5em;
}

#callTable thead {
    background-color: #2c3e50;
}

table thead,
table tbody {
    box-shadow: 0 5px 20px #FFA500;
}

table a {
    color: #000000;
    font-weight: bolder;
}

tbody tr:hover {
    background-color: #2c3e50;
    color: #fff;
}

[href*="#"] {
    color: green;
}


/* button stylen in jeder Kacheln  */

.elemBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.elemBtn a {
    border: 1px solid #fff;
    border-radius: 25% 25% 25% 25%;
    background-color: #FFA500;
    padding: 5px;
    margin: 5px;
}

@media screen and (max-width: 830px) {
    #logo,
    footer {
        display: none;
    }
    #callTable {
        min-height: 50em;
        width: 30em;
    }
    main {
        font-size: 3em;
    }
}

@media screen and (max-width: 680px) {
    header {
        display: none;
    }
    #callTable {
        max-height: 50em;
        width: auto;
    }
}