<!-- 
  Datei wurde von:
        *@Danielle Fofack
        @Wilfried Teitang
        *@Michel Djifack
  
  fertig gestelt!
 -->

<!DOCTYPE html>
<html lang="de">

<head>
    <title> FormStudy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/documentation.css" rel="stylesheet">
</head>

<body>
    <%- include('../U2M/views/header.ejs', {variant:'Documentation'}); %>
        <main>
            <ol>
                <li>
                    <h4>Beschreibung des Anwendungsszenarios</h4>

                    <strong>U2M</strong> ist eine Digitale Bildung Platform. Diese abkürzung steht für <strong> übung
                        macht den meister</strong> aber dahinter versteckt sich auch eine andere Bedeutung <strong>you
                        to me</strong>.
                    <strong>U2M</strong> bietet die Möglichkeit, drei Funktionen zu erfüllen. <br> Die Anwendung läuft unter der port: <strong>8040</strong>.
                    <p>
                        <strong>- Student</strong> <br> Ein Student kann sich registrieren, um Studenten zu helfen.Er muss daher das dafür vorgesehene Formular <strong>"Formular für Study Helfer"</strong> ausfüllen, das sich im menü <strong>
                            "Student"</strong> befindet. <br> Nach dem Ausfüllen von Informationen wie Name, Universität, Modul, für das er Hilfe anbietet, die in diesem Modul erzielte Note und das Semester, in dem er sich befindet, wird er in der Datenbank
                        als helfender Student registriert. <br> Die Liste der Studenten, die bereit sind zu helfen, finden Sie im Untermenü <strong> "Liste der
                            Study Helfer". </strong>Die erste Spalte enthält die Namen der Studenten, die bereit sind zu helfen. Wenn Sie auf den Namen eines Schülers klicken, haben Sie Zugriff auf dessen Zusatzinformationen. Auf der Seite <strong> "Informationen über Study Helfer" </strong>                        werden zusätzliche Informationen über jeden Teilnehmer angezeigt. es gibt 2 Schaltflächen, um auf seine Lerngruppe oder ein von ihm empfohlenes Buch zuzugreifen.
                    </p>
                    <p>
                        <strong>- Gruppe</strong> <br> Ein Student kann eine Lerngruppe erstellen, indem er das entsprechende Formular ausfüllt.Nach der Eingabe von Informationen wie minimale und maximale Teilnehmerzahl, Gruppenname und Adminname, Start-
                        und Enddatum kann er seine Gruppe erstellen und auf die Schaltfläche "anlegen" klicken. Wenn die Seite "Gruppe-Listen" geöffnet ist, können Sie weitere Informationen über den Gruppenadministrator erhalten, indem Sie auf seinen
                        Vornamen oben links im Feld klicken. Die Seite "Gruppe Details" gibt weitere Informationen zu den verschiedenen in der Datenbank vorhandenen Gruppen.
                    </p>
                    <p>
                        <strong>- Bibliothek</strong> <br> Dieses Menü hat ebenfalls drei Untermenüs. das erste <strong> "Formular-Bibliohek"</strong> ist ein Formular zum Ausfüllen, um ein Buch zu empfehlen. Nach Eingabe der erforderlichen Informationen
                        und Klicken auf die Schaltfläche "anlegen" werden Sie automatisch auf die Seite <strong> Bibliothek-Liste</strong> weitergeleitet. <br> Diese <strong> "Bibliothek-Liste" </strong>-Seite enthält zweiteilige Felder. Der erste Teil
                        enthält Informationen über den Studenten, der das Buch empfiehlt. <br> Wenn Sie auf den <strong> Namen </strong> des Schülers oder auf <strong> "HIER" </strong> in der Meldung "klicken Sie HIER für mehr infos über mich!" klicken,
                        gelangen Sie auf die <strong> "Informationen über Study Helfer" </strong> -Seite mit zusätzlichen Informationen über den Schüler. <br> Der zweite Teil enthält Informationen über das Buch. Wenn Sie auch auf <strong> "HIER" </strong>                        in der Meldung "klicken Sie HIER für mehr infos über das Buch!" klicken, gelangen Sie auf die <strong> "Bibliothek-Details" </strong> -Seite mit zusätzlichen Informationen über das Buch. <br> Die Seite <strong> Bibliothek-Details </strong>                        enthählt meh Informationen über Bücher. Wenn Sie auf den <strong> Namen </strong> des Schülers klicken, gelangen Sie auf die <strong> "Informationen über Study Helfer" </strong> -Seite mit zusätzlichen Informationen über den Schüler.
                        <br>
                    </p>
                </li>
                <li>
                    <h4>Fachobjekte der Anwendung</h4>
                    Textuelle Darstellung, ggf. ergänzt um ein UML-Klassendiagramm: Welche Fachobjekte sind in der Anwendung enthalten? Welche Attribute und Beziehungen besitzen die Fachobjekte?
                    <img src="img/U2M.png" alt="U2MClassDiagram">
                </li>
                <li>
                    <h4>Beschreibung und Begründung der Implementierungsentscheidungen</h4>
                    <ol>
                        <li>
                            <h4>Client</h4>
                            <ol>
                                <li>
                                    <h4>Strukturierung der HTML-Seiten</h4>
                                    Welche HTML-Seiten sind in der Anwendung enthalten? Wie kann zwischen den einzelnen HTML-Seiten navigiert werden? Falls semantiklose Elemente eingesetzt wurden: Warum wurden diese eingesetzt?
                                    <p>
                                        Die Applikation hat 9 Seiten + 1 Dokumentationsseite. Das macht 3 Seiten pro Fachobjekt. <br> - Student (3 Seiten) <br> - Gruppe (3 Seiten) <br> - Bibliothek (3 Seiten) <br><br> Jede Seite hat in der Kopfzeile ein
                                        Menü mit drei Einträgen (Student, Gruppe, Bibliothek). <br> - jedes Menü hat ein Untermenü, das die 3 Seiten für jedes "Fachobjekt" darstellt. <br> - ein Klick auf das "U2M-Logo führt Sie zur Dokumentation. <br><br>                                        Die Verwendung von "div"-Elementen wurde zur Strukturierung der internen Elemente der Seiten bevorzugt. Dies gab uns die Möglichkeit, die "id" oder die "class" zu fixieren, um die Manipulation mit dem "css" zu erleichtern.
                                        Am Ende sind sie bei der Manipulation unseres "Grid" oder "Flex" deutlich besser , da sie auch als "Container" verwendet wurden. - in der Fußzeile (auf allen Seiten vorhanden) befindet sich ebenfalls ein Link zur
                                        Dokumentation. <br>
                                    </p>
                                    <p>
                                        Es ist auch möglich, von einer Seite zur anderen zu navigieren, indem Sie die eingebauten Links verwenden, entweder über den Namen des Schülers, einen Gruppennamen oder über Links, die mit speziellen Meldungen hervorgehoben sind, die darauf hinweisen,
                                        wo man klicken muss. Beachten Sie, dass ein Klick auf das Logo immer zur Dokumentationsseite zurückführt. Diese Seite ist auch über die Links am unteren Rand aller Webseiten in der Anwendung zugänglich.
                                    </p>
                                </li>
                                <li>
                                    <h4>Layout</h4>
                                    Wie ist das einheitliche Layout der Web-Anwendung aufgebaut? Welche CSSLayout-Mechanismen wurden eingesetzt und warum?
                                
                                    <p>
                                       Das  Flex- und Gridlayout  wurde in unsere Anwendung verwendet. 
                                       Da die Flexbox  intelligenter und dynamischer wirkt, kann  Das Layout sich flexibel (im Sinne von Responsive Design) an das verwendete Display anpassen.
                                        Der Bereich wird ausgefüllt oder die Elemente werden näher zusammengebracht, so dass alles sichtbar bleibt.
                                        Die Flexbox wurde zum beispiel in der seite von "ListeStudy" und BiblioForm verwendet, um die Button zu positionieren
                                        und zu stylen. Und in der ListeGroup zur Zentrieren die Informationen über verschiedene die Gruppe.
                                        Mit dem Grid wird exakt das gemacht, was der Name verspricht: 
                                        Raster für Webseiten werden erzeugt und definiert. Es können sowohl einfache Zwei- oder Dreispaltenraster als auch mehr Spaltenraster 
                                        definiert werden. Das Aussehen und die Anzahl der Zeilen können ebenfalls festgelegt werden; 
                                        es kann aber auch auf das Standardraster zurückgegriffen werden, das automatisch die erforderlichen Zeilen erzeugt.
                                         Es lassen sich auch die Abstände zwischen den Gitterzellen festlegen und die HTML-Elemente beliebig auf dem Gitter verteilen.
                                    </p> 
                                </li>
                                <li>
                                    <h4>Responsivität</h4>Welche Breakpoints wurden definiert und welche Auswirkung haben sie auf das Layout? Welchem Zweck dienen die definierten Breakpoints im konkreten Anwendungsszenario (z.B. Zielendgeräte)?
                                </li>

                                     <p>
                                        <strong> Group</strong> <br>
                                     Für Dieses Fachobjekt gibt es zwei Breakpunkten im Datei DetailsGroup.css:
                                     <ul>
                                     <li> Bei max-width von 978px werden den Border und der box-shadow nicht mehr angezeigt, damit die Informationen
                                         im  countainer bleiben.
                                     </li>
                                     <li>
                                        Bei max-width von 600px werden die Elemente der Countainer groupDetails genau in der Mitte angeordnet und die Schriftgröße,
                                        wird vergrößen damit alle Informationen in Kleinen Geräte sichtbar sind.
                                     </li>
                                     <li>
                                        Bei max-width von 421px werden das logo, der footer, der  header
                                        nicht mehr angezeigt, und die Schriftgröße wird nochmal angepasst.
                                     </li>
                                    </ul>
                                    </p>

                                    <p>
                                        <strong>biblioListe</strong> <br>
                                     Für Dieses Fachobjekt gibt es drei  Breakpunkten im Datei biblioListe.css:
                                     <ul>
                                     <li> Bei max-width von 320px werden das logo, der footer, der  header
                                         nicht mehr angezeigt. 
                                     </li>
                                     <li>
                                        Bei max-width von 961px der Countainer wird sich wie ein Grid mit zwei Spalten 
                                     </li>
                                     <li>
                                        Bei max-width von 481px der Countainer wird sich wie ein Grid mit eine Spalte 
                                     </li>
                                    </ul>
                                    </p>

                            </ol>
                            <li>
                                <h4>Server</h4>
                                <ol>
                                    <li>
                                        <h4>Modulstruktur</h4>Wie und nach welchen Prinzipien wurden die Module der Server-Implementierung strukturiert?
                                        <p>
                                            Um die Module der Server-Implementierung zu strukturieren, wurde die Serverseite Technologie <strong>Espress</strong>
                                            angewendet. Die Struktur ist durch Kombination von Middlewares aufgebaut.In der Router,wird zuerst
                                            "Espress" eingebunden. Bei Eintreten einer Anfrage wird eine folge von Get-request durchgeführt,
                                             bis die entsprechende Seite mit der Methode "render()" züruckliefert wird. Und In der Apps wird auch
                                             Espress eingebunden. Dann wird ein Middleware gebunden um die Anfrage zu lesen und eine 
                                             kette von methoden Post durchgeführt um die verschiedene Formulare zu unterstützen. 
                                           
                                        </p>
                                    </li>
                                    <li>
                                        <h4>Unterstützte URLs/Endpunkte</h4>Welche HTTP-Anfragen werden durch das Routing des Servers unterstützt? Beschreibung als Tabelle der Form:
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th> URL</th>
                                                    <th>HTTP-Methode</th>
                                                    <th>Aktion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>/</td>
                                                    <td> GET</td>
                                                    <td> Anzeige der documentation</td>
                                                </tr>
                                                <tr>
                                                    <td>/DetailsStudy</td>
                                                    <td> GET</td>
                                                    <td> Anzeige Detailseite über einen Study</td>
                                                </tr>
                                                <tr>
                                                    <td>/FormStudy</td>
                                                    <td> POST</td>
                                                    <td> Neuanlage einen Study</td>
                                                </tr>
                                                <tr>
                                                    <td>/ListeStudy</td>
                                                    <td> GET</td>
                                                    <td> Anzeige Liste Study</td>
                                                </tr>
                                                <tr>
                                                    <td>/FormGroup</td>
                                                    <td> POST</td>
                                                    <td> Neue Gruppe anlegen</td>
                                                </tr>
                                                <tr>
                                                    <td>/ListeGroup</td>
                                                    <td> GET</td>
                                                    <td> Anzeige Gruppen Liste</td>
                                                </tr>
                                                <tr>
                                                    <td>/DetailsGroup</td>
                                                    <td> GET</td>
                                                    <td> Anzeige Details Informationen über einen Gruppe</td>
                                                </tr>
                                                <tr>
                                                    <td>/BiblioForm</td>
                                                    <td> POST</td>
                                                    <td> Neues Buch anlegen</td>
                                                </tr>
                                                <tr>
                                                    <td>/BiblioListe</td>
                                                    <td> GET</td>
                                                    <td> Bücher Liste anzeigen</td>
                                                </tr>
                                                <tr>
                                                    <td>/BiblioDetails</td>
                                                    <td> GET</td>
                                                    <td> Bücher Details informationen anzeigen</td>
                                                </tr>
                                                <tr>
                                                    <td>*</td>
                                                    <td> GET</td>
                                                    <td> Error 404</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ol>
                            </li>

                    </ol>
                    </li>
                    <li>
                        <h4>Start der Anwendung</h4>
                        Welche Schritte sind zum Start der Anwendung notwendig und unter welcher URL ist die Anwendung erreichbar? Die Anwendung läuft unter der port: 8040. <br> Beim Start der Anwendung, werden Sie zunächst auf die Dokumentationsseite
                        weitergeladet. Da haben Sie die Möglichkeit durch jeder seite zu navigieren mit Hilfe der Navigationsmenü im kopf der Anwendung.<br>
                        <strong>Start der Anwendung</strong> <br> Bitte stellen Sie sicher, dass Sie Node im Hauptordner "web-Teitang-Fofack-Djifack" installiert haben, falls dieser nach dem Entpacken nicht vorhanden ist. Prüfen Sie dann in der Datei
                        "package.json", ob die Erweiterungen "ejs, express und body.parser" vorhanden sind. <br> Stellen Sie sicher, dass die Datei "app.js" auf Port 8040 lauscht oder an jedem anderen freien Port.

                    </li>
                    <li>
                        <h4>Autorenschaft der Quellcode-Dateien</h4>
                        Welches Gruppenmitglied ist für welche Quellcode-Dateien verantwortlich? Beschreibung als Tabelle der Form:
                        <table>
                            <thead>
                                <tr>
                                    <th> Autorin (Name,Matrikelnr.)</th>
                                    <th>Dateien</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Fofack,Daniele (7100105)</td>
                                    <td>
                                        <ul>
                                            <li>models/modFormStudy.js</li>
                                            <li>public/css/formStudy.css</li>
                                            <li>public/css/listStudy.css</li>
                                            <li>views/ListeStudy.ejs</li>
                                            <li>views/ListeStudy.ejs</li>
                                            <li>views/ListeStudy.ejs</li>
                                            <li>views/footer.ejs</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Teitang,Wilfried (7104401)</td>
                                    <td>
                                        <ul>
                                            <li>models/Group.js</li>
                                            <li>public/css/Detailsgroup.css</li>
                                            <li>public/css/FormGroup.css</li>
                                            <li>public/css/listGroup.css</li>
                                            <li>views/header.ejs</li>
                                            <li>views/DetailsGroup.ejs</li>
                                            <li>views/FormGroup.ejs</li>
                                            <li>views/header.ejs</li>
                                            <li>views/ListeGroup.ejs</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Djifack,Michel Boris (7103963)</td>
                                    <td>
                                        <ul>
                                            <li>models/biblio.js</li>
                                            <li>public/css/documentation.css</li>
                                            <li>public/css/BiblioForm.css</li>
                                            <li>public/css/BiblioListe.css</li>
                                            <li>public/css/BiblioDetails.css</li>
                                            <li>views/Bibliodetails.ejs</li>
                                            <li>views/BiblioForm.ejs</li>
                                            <li>views/BiblioListe.ejs</li>
                                            <li>views/404.ejs</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
            </ol>

        </main>
        <%- include("../U2M/views/footer.ejs") %>
</body>

</html>